amqp
billiard
celery
certifi
chardet
click
click-didyoumean
click-plugins
click-repl
fastapi
git+https://git@github.com/SKTBrain/KoBERT.git@master 
git+https://github.com/ssut/py-hanspell.git
gluonnlp
h11
idna
importlib-metadata
joblib
kombu
librabbitmq
lightgbm
numpy==1.23.1
pandas
prompt-toolkit
pydantic
python-dateutil
pytz
redis
requests
scikit-learn
scipy
six
sklearn
starlette
threadpoolctl
torch
typing-extensions
urllib3
uvicorn
vine
wcwidth
zipp
